<div id="bigflow" class="container-fluid b-gain">
  <div class="container">
    <div class="panel panel-ttt">
      <div class="panel-heading">
        <h1>ЕСЛИ НУЖЕН БОЛЬШОЙ ПОТОК ЛИДОВ</h1>
        <h3>ТО МЫ ПРЕДОСТАВИМ ЕГО ВАМ</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <div class="b-feature wow fadeInUp">
              <div class="icon icon_yellow">
                <i class="fa fa-user-md"></i>
              </div>
              <div class="caption">
                Мы анализируем целевую аудиторию
              </div>
            </div>
            <div class="b-feature wow fadeInUp">
              <div class="icon icon_cyan">
                <i class="fa fa-filter"></i>
              </div>
              <div class="caption">
                Подбираем <span class="accent">лучшие</span> площадки интернет-ресурсов
              </div>
            </div>
            <div class="b-feature wow fadeInUp">
              <div class="icon icon_orange">
                <i class="fa fa-clock-o"></i>
              </div>
              <div class="caption">
                Разрабатываем интересные предложения и формы их подачи
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="b-feature wow fadeInUp">
              <div class="icon icon_cyan">
                <i class="fa fa-folder-open-o"></i>
              </div>
              <div class="caption">
                Мы создаем посадочные старницыдля <span class="accent">генерации лидов</span>
              </div>
            </div>
            <div class="b-feature wow fadeInUp">
              <div class="icon icon_orange">
                <i class="fa fa-users"></i>
              </div>
              <div class="caption">
                Мы делим аудиторию на группы по темам и проблемам
              </div>
            </div>
            <div class="b-feature wow fadeInUp">
              <div class="icon icon_yellow">
                <i class="fa fa-envelope-o"></i>
              </div>
              <div class="caption">
                Оптимизируем <span class="accent">рекламные</span> интернет-<span class="accent">кампании</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>