<div id="feedback" class="container-fluid b-specials">
  <div class="container">

    <div class="panel panel-ttt">
      <div class="panel-heading">
        <h1>ОБРАТНАЯ СВЯЗЬ И КОНТАКТЫ</h1>
        <div class="row">
          <div class="col-md-8">
            <h4 class="text-center">Пишите нам по любому вопросу, <span class="accent">мы ответим</span> максимально быстро!</h4>
          </div>
          <div class="col-md-4">
            <h4 class="text-center">Подпишись на нас:</h4>
          </div>
        </div>
      </div>
      <div class="panel-body">

        <div class="row">
          <div class="col-md-8">
            <form>
              <div class="panel panel-offer panel-offer_dark">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="text" required="true" class="form-control" id="exampleInputName1" placeholder="Имя *">
                      </div>
                      <div class="form-group">
                        <input type="text" required="true" class="form-control" id="exampleInputPhone1" placeholder="Телефон *">
                      </div>
                      <div class="form-group">
                        <input type="email" required="true" class="form-control" id="exampleInputEmail1" placeholder="Email *">
                      </div>
                      <div class="form-group">
                        <input type="text" required="true" class="form-control" id="exampleInputTown1" placeholder="Город *">
                      </div>

                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <textarea placeholder="Ваш вопрос" required="true" class="form-control" rows="5" id="question" name="question"></textarea>
                      </div>

                      <label class="text-center"for="question">НАПИШИТЕ ВАШ ВОПРОС ЗДЕСЬ:</label>
                    </div>
                  </div>
                  <div class="text-center">
                    <a class="btn btn-lg btn-danger" data-toggle="modal" data-target="#learnMore">Отправить вопрос нашим специалистам</a>
                  </div>

                </div>
              </div>

            </form>
          </div>
          <div class="col-md-4">

            <div class="panel panel-offer">
              <div class="panel-body">
               <h3>НАС УЖЕ МНОГО!</h3>

               <!-- VK Widget -->
               <div id="vk_groups"></div>
               <script type="text/javascript" src="//vk.com/js/api/openapi.js?116">
                 <script type="text/javascript">
                  VK.Widgets.Group("vk_groups", {mode: 0, width: "222", height: "150", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 62401732);
                </script>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>