<div id="feedback" class="container-fluid b-specials">
  <div class="container">

    <div class="panel panel-ttt">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-8">
            <h1>ОБРАТНАЯ СВЯЗЬ И КОНТАКТЫ</h1>
            <h3>ПИШИТЕ НАМ ПО ЛЮБОМУ ВОПРОСУ, <span class="accent">МЫ ОТВЕТИМ</span> МАКСИМАЛЬНО БЫСТРО!</h3>
          </div>
          <div class="col-md-4">
            Подпишись на нас:
          </div>
        </div>
      </div>
      <div class="panel-body">

        <div class="row">
          <div class="col-md-8">
                <form>
            <div class="panel panel-offer panel-offer_dark">
              <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6">
                      <input type="text" />
                      <input type="text" />
                      <input type="text" />
                      <input type="text" />
                    </div>
                    <div class="col-md-6">
                      <textarea id="question" name="question"></textarea>
                      <label for="question">НАПИШИТЕ ВАШ ВОПРОС ЗДЕСЬ:</label>
                    </div>
                  </div>

              </div>
            </div>
                  <div class="text-center">
                    <a class="btn btn-lg btn-danger" data-toggle="modal" data-target="#learnMore">Отправить вопрос нашим специалистам</a>
                  </div>
                </form>
          </div>
          <div class="col-md-4">

            <div class="panel panel-offer">
              <div class="panel-body">
               <h3>НАС УЖЕ МНОГО!</h3>

               <!-- VK Widget -->
               <div id="vk_groups"></div>
               <script type="text/javascript" src="//vk.com/js/api/openapi.js?116">
               <script type="text/javascript">
                VK.Widgets.Group("vk_groups", {mode: 0, width: "222", height: "150", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 62401732);
              </script>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>