<footer id="footer">
  <nav class="navbar navbar-inverse navbar-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <ul>
            <li><a href="#agreement">Соглашение об обработке персональных данных</a></li>
            <li><a href="#politics">Политика конфиденциальности</a></li>
            <li><a href="#rules">Правила работы</a></li>
            <li><a href="#dogvor">Договор</a></li>
            <li><a href="#revizits">Реквизиты</a></li>
          </ul>

        </div>
        <div class="col-md-6">
          {{> pluso}}
        </div>
        <div class="col-md-2">
          <h3>{{phone}}</h3>

          <div>
            <img src="img/logo-new.png" alt="Биржа лидов" width="200">
          </div>
          <a class="btn btn-warning btn-sm btn-block" href="#call-order" data-toggle="modal" data-target="#callOrder">Заказать звонок</a>
        </div>
      </div>
      <div class="text-center">
        © 2015 Биржа Лидов
      </div>
    </div>
  </nav>
</footer>