<div id="gain" class="container-fluid b-gain">
  <div class="container">
  <div class="panel panel-ttt">
      <div class="panel-heading">
        <h1>Зарабатывать деньги очень просто</h1>
        <h3>Покупка лидов - <span class="accent">самый быстрый</span> способ увеличить прибыль </h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <div class="b-feature wow fadeInUp">
              <div class="icon icon_yellow">
                <i class="fa fa-usd"></i>
              </div>
              <div class="caption">
                Оплата только за действия клиентов, которые <span class="accent">приносят вам прибыль</span>
              </div>
            </div>
            <div class="b-feature wow fadeInUp">
              <div class="icon icon_cyan">
                <i class="fa fa-shopping-cart"></i>
              </div>
              <div class="caption">
                Выбор целевого действия и способа его оплаты
              </div>
            </div>
            <div class="b-feature wow fadeInUp">
              <div class="icon icon_orange">
                <i class="fa fa-bar-chart"></i>
              </div>
              <div class="caption">
                Прозрачная, <span class="accent">детальная статистика</span> в реальном времени
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="b-feature wow fadeInUp">
              <div class="icon icon_cyan">
                <i class="fa fa-star"></i>
              </div>
              <div class="caption">
                Выплаты куда угодна, когда угодно - даже по выходным и праздникам
              </div>
            </div>
            <div class="b-feature wow fadeInUp">
              <div class="icon icon_orange">
                <i class="fa fa-book"></i>
              </div>
              <div class="caption">
                <span class="accent">Выбор</span> среди всех существующих видов <span class="accent">трафика</span>
              </div>
            </div>
            <div class="b-feature wow fadeInUp">
              <div class="icon icon_yellow">
                <i class="fa fa-calendar-check-o"></i>
              </div>
              <div class="caption">
                Гибкость в работе - мы подстроимся под ваш график
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>