<div id="intro" class="container-fluid b-intro">
  <div class="container">
  <div class="panel panel-ttt">
    <div class="panel-heading text-center">
      <h1>
        <img src="img/logo-new.png" alt="Биржа лидов" width="400">
      </h1>
      <h3>

      <div id="carousel-intro" class="carousel carousel-fade carousel-intro slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active"><div class="carousel-caption">
          <h1>ПОКУПАЕМ И ПРОДАЕМ ВАШИХ КЛИЕНТОВ</h1>
          </div></div>
          <div class="item"><div class="carousel-caption">
          <h1>БОЛЕЕ <span class="accent">128</span> ОФФЕРОВ И <span class="accent">32</span> ЭКСКЛЮЗИВНЫХ</h1>
          </div></div>
          <div class="item"><div class="carousel-caption">
          <h1>ВЫГОДНАЯ ПАРТНЕРСКАЯ ПРОГРАММА</h1>
          </div></div>
          <div class="item"><div class="carousel-caption">
          <h1>РЕГУЛЯРНЫЕ БОНУСЫ</h1>
          </div></div>
          <div class="item"><div class="carousel-caption">
          <h1><span class="accent">30</span> ИНСТРУМЕНТОВ, <span class="accent">16</span> ТИПОВ СТАТИСТИКИ ПО РАЗНЫМ ПОКАЗАТЕЛЯМ</h1>
          </div></div>
          <div class="item"><div class="carousel-caption">
          <h1>ВОЗМОЖНОСТЬ <span class="accent">ИНДИВИДУАЛЬНЫХ</span> УСЛОВИЙ РАБОТЫ</h1>
          </div></div>
       </div>
      </div>

      </h3>
    </div>
    <div class="panel-body">

      <div class="b-img-menu">
        <div class="item">
          <a class="scroll-to" href="#gain"><img src="img/money.png" alt="">
            <div class="caption">Как заработать деньги</div></a>
        </div>
        <div class="item">
          <a class="scroll-to" href="#offers"><img src="img/book.png" alt="">
            <div class="caption">Наши предложения</div></a>
        </div>
        <div class="item">
          <a class="scroll-to" href="#hand"><img src="img/hand.png" alt="">
            <div class="caption">Партнерская программа</div></a>
        </div>
        <div class="item item_large">
          <a class="scroll-to" href="#v"><img src="img/rocket.png" alt=""></a>
        </div>
        <div class="item">
          <a class="scroll-to" href="#specials"><img src="img/sell.png" alt="">
            <div class="caption">Специальные акции</div></a>
        </div>
        <div class="item">
          <a class="scroll-to" href="#bigflow"><img src="img/full.png" alt="">
            <div class="caption">Что вы получаете</div></a>
        </div>
        <div class="item">
          <a class="scroll-to" href="#feedback"><img src="img/phone.png" alt="">
            <div class="caption">Обратная связь</div></a>
        </div>
      </div>
      <div class="btn-cont text-center wow fadeInUp" data-wow-delay=".2s">
        <a class="btn btn-lg btn-danger" data-toggle="modal" data-target="#learnMore">Купить клиентов</a>
      </div>

    </div>
  </div>
  </div>
</div>