<div id="offers" class="container-fluid b-offers">
  <div class="container">

    <div class="panel panel-ttt">
      <div class="panel-heading">
        <h1>Наши предложения</h1>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <div class="panel panel-offer">
              <div class="panel-body">
                <div class="well well-offer">
                  <form>
                    <input type="text" class="input-lg" placeholder="Поиск"/>
                    <input type="submit" class="btn btn-primary" value="Найти">
                  </form>
                </div>
                  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="well well-offer panel panel-offset">
                      <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            ► Категории офферов
                          </a>
                        </h4>
                      </div>
                      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                          <ul>
                            <li>Lorem ipsum dolor sit.</li>
                            <li>Cumque omnis facere sequi.</li>
                            <li>Magnam fugit amet explicabo!</li>
                            <li>Vero voluptas consequuntur sit!</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="well well-offer panel panel-default">
                      <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            ► Тип Трафика
                          </a>
                        </h4>
                      </div>
                      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                          <ul>
                            <li>Corporis, est recusandae deserunt.</li>
                            <li>Porro, laudantium repellat aperiam.</li>
                            <li>Impedit, consectetur commodi atque.</li>
                            <li>Inventore quod minus nemo!</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="well well-offer panel panel-default">
                      <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            ► Геотаргетинг
                          </a>
                        </h4>
                      </div>
                      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                          <ul>
                            <li>Atque numquam nostrum, placeat!</li>
                            <li>Eos tenetur, doloremque minima?</li>
                            <li>Veritatis, molestias odio aliquam!</li>
                            <li>Quaerat cum, beatae dolorem.</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>



                <div class="well well-offer well-offer">
                  <form>
                    <h5>
                      <label>ДОБАВИТЬ СВОЙ ОФФЕР</label>
                    </h5>
                    <input type="submit" class="btn btn-danger" value="Добавить">
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            {{> offer}}
            {{!-- {{> offer}} --}}
            {{> landing}}
            {{!-- {{> offer}} --}}
            {{> banners}}

            <div class="text-center">
                <nav>
                  <ul class="pagination">
                    <li>
                      <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                      <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>

            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>