<div id="offers" class="container-fluid b-offers">
  <div class="container">

    <div class="panel panel-ttt">
      <div class="panel-heading">
        <h1>НАШИ ПРЕДЛОЖЕНИЯ</h1>
      </div>
      <div class="panel-body">
        Offsers content
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure eius laboriosam nisi fuga in aliquam facere ea, quibusdam ullam nostrum assumenda aliquid incidunt quaerat ab, suscipit, inventore possimus veniam eaque doloremque nesciunt quae. Similique provident voluptas natus ipsam, molestiae voluptatum eligendi temporibus incidunt, iusto voluptate dicta dolores laudantium! Ipsum, harum reprehenderit neque, iusto hic illo quae, voluptas cum dolorem, quod eligendi. Quia quae iusto quidem consequuntur magni sit error quisquam cumque nihil repudiandae! Explicabo repellat veritatis at optio, architecto animi aspernatur expedita quisquam id voluptas ratione quas commodi dolore sunt unde, praesentium soluta ab, consequatur officiis blanditiis repellendus fugiat modi.<br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, voluptates!</div>
        <div>Labore at consectetur rem inventore, dolorum architecto, rerum cupiditate quod enim est? Earum, quas necessitatibus accusantium aperiam, ipsam expedita ad incidunt harum deserunt culpa! Aut enim, repellendus soluta minima nisi deserunt, error ullam iusto, saepe assumenda totam reprehenderit. Architecto maxime molestiae ex eum laboriosam repellat cumque repellendus amet deserunt quod iusto natus neque a modi minima ut consequatur magnam ea maiores ducimus incidunt vero nostrum, praesentium. Odio officia, laudantium voluptate ab ad, nobis nostrum reprehenderit fuga iure quam saepe repellat eius ut iusto temporibus aliquam possimus, nam minima accusantium officiis necessitatibus? Unde quia nisi maiores aperiam beatae? Nihil, esse voluptate.<br><br>Dignissimos temporibus dolorem quisquam minima accusamus provident quis quo nulla?</div>
      </div>
    </div>
  </div>
</div>