<div id="specials" class="container-fluid b-specials">
  <div class="container">

    <div  class="panel panel-ttt" style="background-color: #F5F9FD">
      <div class="panel-heading">
        <h1>Специальные предложения</h1>
      </div>
      <div class="panel-body panel-special">
        <div class="row">
          <div class="col-md-5">

          <h2 class="text-danger"><strong>Для покупателей лидов</strong></h2>
            <ul>
              <li class="wow fadeInUp" data-wow-delay=".1s"><span>Внимательный отбор продавцов</span>
              <div class="e-arrow"></div>
              </li>
              <li class="wow fadeInUp" data-wow-delay=".2s"><span>Независимый арбитраж лидов</span>
              <div class="e-arrow"></div>
              </li>
              <li class="wow fadeInUp" data-wow-delay=".3s"><span><span class="accent">"Hold"</span> выплат продавцу на 5 дней</span>
              <div class="e-arrow"></div>
              </li>
              <li class="wow fadeInUp" data-wow-delay=".4s"><span>Полная прозрачность расчетов</span>
              <div class="e-arrow"></div>
              </li>
            </ul>

          </div>
          <div class="col-md-5 col-md-offset-2">
            <h2 class="text-info"><strong>Для продавцов лидов</strong></h2>
            <ul class="right">
              <li class="wow fadeInUp" data-wow-delay=".1s"><span>Огромная база заявок на покупку лидов</span>
              <div class="e-arrow"></div>
              </li>
              <li class="wow fadeInUp" data-wow-delay=".2s"><span>Прозрачные и <span class="accent">удобные схемы</span> работы</span>
              <div class="e-arrow"></div>
              </li>
              <li class="wow fadeInUp" data-wow-delay=".3s"><span>Полное техническое сопровождение</span>
              <div class="e-arrow"></div>
              </li>
              <li class="wow fadeInUp" data-wow-delay=".4s"><span>Индивидуальный подход на всех эиапах работы</span>
              <div class="e-arrow"></div>
              </li>
            </ul>

          </div>
        </div>
        <div class="text-center wow fadeInUp" data-wow-delay=".5s">
          <a class="btn btn-lg btn-danger" data-toggle="modal" data-target="#learnMore">Узнать подробнее</a>
        </div>
      </div>
    </div>
  </div>
</div>