<div id="specials" class="container-fluid b-specials" style="background-color: #F5F9FD">
  <div class="container">

    <div  class="panel panel-ttt" style="background-color: #F5F9FD">
      <div class="panel-heading">
        <h1>Специальные предложения</h1>
      </div>
      <div class="panel-body panel-special">
        <div class="row">
          <div class="col-md-6">
          <h2>Для покупателей лидов</h2>
            <ul>
              <li>Внимательный отбор продавцов</li>
              <li>Независимый арбитраж лидов</li>
              <li><span class="accent">"Hold"</span> выплат продавцу на 5 дней</li>
              <li>Полная прозрачность расчетов</li>
            </ul>

          </div>
          <div class="col-md-6">
            <h2>Для продавцов лидов</h2>
            <ul>
              <li>Огромная база заявок на покупку лидов</li>
              <li>Прозрачные и <span class="accent">удобные схемы</span> работы</li>
              <li>Полное техническое сопровождение</li>
              <li>Индивидуальный подход на всех эиапах работы</li>
            </ul>

          </div>
        </div>
        <div class="text-center">
          <a class="btn btn-lg btn-danger" data-toggle="modal" data-target="#learnMore">Узнать подробнее</a>
        </div>
      </div>
    </div>
  </div>
</div>