<div id="specials" class="panel panel-ttt" style="background-color: #F5F9FD">
  <div class="panel-heading">
    <h1>СПЕЦИАЛЬНЫЕ ПРЕДЛОЖЕНИЯ</h1>
  </div>
  <div class="panel-body">
    Specials content
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, accusamus deleniti animi atque pariatur voluptas! Distinctio recusandae maxime alias voluptate? Velit eum eaque harum iusto quasi, at, sint magni quia illo ab minima exercitationem, totam, similique hic esse itaque amet eius error atque culpa. Eius culpa illo quisquam at dolore quia recusandae ex corrupti reiciendis minima, eum nisi illum est similique numquam, tenetur quod! Veniam laudantium et doloribus minus aliquam dolor rerum a unde quo, possimus fugit quod cumque temporibus tempore repudiandae maiores voluptatibus. Laboriosam vitae debitis totam neque dolore nam a ipsam sint fuga dignissimos, dolorem adipisci laudantium quae.<br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ipsam.</div>
    <div>Aperiam in tempore amet minus, dicta molestiae quod officia repellat distinctio cupiditate quis, est cumque atque iste quibusdam omnis impedit officiis, id ab rerum molestias deleniti asperiores nulla. Veritatis sint distinctio, repellendus saepe ipsam! Dolor nostrum quod adipisci ex reiciendis architecto, at et, consectetur, rerum aliquam ipsum inventore earum aut corporis, error quam doloribus rem placeat. Quae laudantium ipsa eaque laboriosam, non quibusdam placeat nam possimus earum quia aliquid recusandae harum excepturi incidunt sint dolorem facilis beatae, sit provident, atque similique officia a distinctio. Nesciunt fuga adipisci eos! Necessitatibus consequuntur quis vel velit, quasi commodi et obcaecati quod nisi at.<br><br>Error, voluptate, commodi a iure id amet? Nihil, temporibus itaque?</div>
  </div>
</div>