<div class="well well-offer">
    <h3>Баннеры</h3>

Выбирайте подходящий под Ваш сайт баннер. <br>
Возможны варианты с горизонтальным и вертикальным размещением.
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="http://lorempixel.com/400/200" />
          </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="http://lorempixel.com/400/200" />
        </div>

      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="http://lorempixel.com/400/200" />
        </div>

      </div>
    </div>

    <h3>Лид-формы</h3>
    <div class="well">

      <div class="row">
        <div class="col-md-6">
          <img src="img/lid-forma.jpg">
        </div>
        <div class="col-md-6">
          <div class="well well-offer">
          <form>
              <textarea>
  &lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt;</p>

  &lt;html xmlns="http://www.w3.org/1999/xhtml"&gt;

  &lt;head&gt;

  &lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8" /&gt;
              </textarea>
              <button type="submit" class="btn btn-danger btn-lg">Получить код</button>
          </form>
          </div>
        </div>
      </div>
    </div>

</div>
