<div role="tabpanel" class="tab-pane well" id="landing-{{id}}">
    <h3>Лендинги</h3>

    Мы предоставляем на выбор до трех лендингов, созданных профессиональной командой дизайнеров, копирайтеров и веб-разработчиков.

    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="http://lorempixel.com/400/200" />
          </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="http://lorempixel.com/400/200" />
        </div>

      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="http://lorempixel.com/400/200" />
        </div>

      </div>
    </div>

    У вас есть возможность выбрать сразу три лендинга и провести А/В-тестирование.

</div>
